/*---------- Common Start ----------*/

/* RESET */

html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
a, ul, li,
article, footer, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

input, textarea, select {
  outline: none;
}

ol, ul {
  list-style: none;
}

body {
  overflow-x: hidden;
}

/* FONTS */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,900');

/* VARIABLES */

/* Colors */
$col-main : #112233;
$col-white : #fff;
$col-green : #1ec54e;
$col-green-act : #3add69;
$col-cons : #19324b;
$col-line : #e5e9ee;
$col-placeholder : #b7bcc1;
$col-input : #d5d9df;
$col-line-header-top : #e3e9eb;
$col-button : #f0f4f7;
$col-para: #889099;
$col-for-sale: #556268;
$col-block: #f1f6fa;
$col-table: #f0f4f7;
$col-grey: #a6a9ad;
$col-grey-p: #556268;
$col-dotted: #e7e8ea;
$col-scroll-line: #e3e9eb;
$col-sec-slider: #f5f8fb;
$col-reserv: #525a5e;
/* fonts */
$font : 'Roboto', sans-serif;


/* BASE */

body {
  font-family: $font;
  color: $col-main;
}

button {
  cursor: pointer;
  border: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  &:hover {
    color: $col-green-act;
    text-decoration: none;
  }
}

/*----------  Common End  ----------*/

/* ----------HEADER START-----------*/

.header-top {
  border-bottom: 1px solid $col-line-header-top;
  position: relative;
  z-index: 3;
  background-color: $col-white;
  .auth {
    margin-right: -178px;
    margin-top: 14px;
    margin-bottom: 11px;
    .log {
      font-size: 14px;
      font-weight: 500;
    }
    .log-in {
      margin-right: 20px;
    }
  }
}

.header-bottom {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1;
  img {
    margin-top: 18px;
    margin-bottom: 27px;
    margin-left: -189px;
  }

  ul {
    margin-top: 32px;
    li {
      font-size: 16px;
      font-weight: 500;
      margin-right: 21px;
    }
  }

  .number {
    color: $col-green;
    font-size: 18px;
    font-weight: 500;
    margin-top: 32px;
    margin-right: -160px;
  }
}

/* ----------HEADER END-----------*/

/* ----------MAIN START-----------*/
#main {
  background: url(../img/hero-home.jpg) 80% 100%;
  background-size: cover;
  /*background-attachment: fixed;*/
  /*background-image: url(../img/main.jpg);*/
  .offer {
    width: 760px;
    h1 {
      font-size: 54px;
      font-weight: 900;
      line-height: 70px;
      margin-top: 115px;
      margin-bottom: 25px;
    }
    p {
      font-size: 20px;
      font-weight: 400;
      line-height: 32px;
      margin-bottom: 44px;
    }
  }
}

.search {
  width: 800px;
  height: 80px;
  box-shadow: 0 0 30px rgba(0, 1, 1, 0.07);
  border-radius: 4px;
  background-color: #ffffff;
  margin-bottom: 430px;
  .sel {
    width: 180px;
    padding: 21px;
    p {
      color: $col-green;
      font-size: 12px;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 0.6px;
      margin-bottom: 9px;
    }
    select {
      width: 100%;
      border: none;
      option {
        border: none;
      }
    }
  }

  .loc {
    padding: 20px;
    border-left: 1px solid $col-line;
    p {
      color: $col-green;
      font-size: 12px;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 0.6px;
      margin-bottom: 9px;
    }
    input {
      border: none;
      width: 480px;
    }
    input::placeholder {
      color: $col-placeholder;
    }
  }

  .btn {
      padding: 0;
      position: absolute;
      right: 43px;
      top: 4px;
    button {
      width: 70px;
      height: 70px;
      box-shadow: 0 0 20px rgba(29, 212, 81, 0.2);
      border-radius: 4px;
      background-color: $col-green;
      &:hover {
      background-color: $col-green-act;
      box-shadow: 0 5px 30px rgba(29,212,81,.7);
      transition: .5s;
      }
    }
  }
  
}
/* ----------MAIN END-----------*/

/* ----------CHOOSE START-----------*/
#choose {
  padding-bottom: 86px;
  h2 {
    font-size: 36px;
    font-weight: 500;
    margin-top: 68px;
    margin-bottom: 68px;
  }

  .wrapper {
    font-size: 20px;
    font-weight: 500;
    img {
      height: 87px;
    }
    h4 {
      font-size: 20px;
      font-weight: 500;
      margin-top: 37px;
      margin-bottom: 20px;
    }
    p {
      color: $col-grey-p;
      font-size: 16px;
      font-weight: 400;
      line-height: 23.99px;
      width: 280px;
      margin: 0 auto;
    }
  }

  .dotted {
      width: 70px;
      display: inline-block;
      position: absolute;
      right: -10%;
      top: 22%;

      .dot {
        width: 10px;
        height: 10px;
        margin: 0 auto;
        border-radius: 50%;
        background-color: $col-dotted;
        &:before {
          content: '';
          display: block;
          position: absolute;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: $col-dotted;
          left: 0;
      }
        &:after {
          content: '';
          display: block;
          position: absolute;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: $col-dotted;
          right: 0;
        }
        
    }
  }
}
/* ----------CHOOSE END-----------*/

/* ----------SCROLL START-----------*/
#scroll {
  border-bottom: 1px solid $col-scroll-line;
  position: relative;
  .expand {
    /*background-image: url(../img/expand.png);*/
    width: 39px;
    height: 39px;
    border: 1px solid $col-scroll-line;
    border-radius: 50%;
    position: absolute;
    top: -20px;
    left: 49.2%;
    background: $col-white;
    text-align: center;
    line-height: 39px;
    img {
      width: 11px;
    }
  }
}
/* ----------SCROLL END-----------*/

/* ----------SAVE START-----------*/
#save {
  .save-title {
    width: 494px;
    margin: 0 auto;
    h2 {
      margin-top: 85px;
      margin-bottom: 25px;
      font-size: 36px;
      font-weight: 500;
    }
    p {
      font-size: 18px;
      font-weight: 400;
      line-height: 32px;
      margin-bottom: 57px;
    }
  }

  .block {
    width: 370px;
    height: 180px;
    border-radius: 4px;
    background-color: $col-block;
    margin-bottom: 127px;
    .you-save {
      font-size: 18px;
      font-weight: 700;
      /*line-height: 32.01px;*/
      text-transform: uppercase;
      margin-bottom: 16px;
      padding-top: 35px;
    }
    .price {
      font-size: 40px;
      font-weight: 700;
      line-height: 32.01px;
      color: $col-green;
    }
    p {
      font-size: 18px;
      font-weight: 400;
      font-weight: 400;
      margin-top: 19px;
      margin-bottom: 34px;
      span {
        font-weight: 700;
      }
    }
  }


  .range {
    .range-from {
      p {
        font-size: 14px;
        font-weight: 700;
        padding-top: 10px;
      }
    }

    .range-to {
      p {
        font-size: 14px;
        font-weight: 700;
        padding-top: 10px;
      }
    }
  }

  .btns {
    .btn-sell {
      width: 185px;
      height: 56px;
      box-shadow: 0 5px 30px rgba(29, 212, 81, 0.4);
      border-radius: 4px;
      background-color: $col-green;
      font-size: 18px;
      font-weight: 500;
      color: $col-white;
      margin-right: 19px;
      &:hover {
        opacity: 0.95;
        box-shadow: 0 5px 30px rgba(29,212,81,.7);
        transition: .5s;
      }
    }

    .btn-buy {
      width: 185px;
      height: 56px;
      border-radius: 4px;
      border: 2px solid $col-green;
      background-color: $col-white;
      font-size: 18px;
      font-weight: 500;
      &:hover {
        opacity: 0.8;
        box-shadow: 0 5px 30px rgba(29,212,81,.4);
        transition: .5s;
      }
    }
  }

  .help {
    margin-top: 34px;
    margin-bottom: 94px;
    p {
      font-size: 18px;
      font-weight: 500;
      span {
        color: $col-green;
      }
    }
  }
}

/* ----------SAVE END-----------*/

/* ----------SLIDER-HOUSE START-----------*/
#slider-house {
  background-color: $col-sec-slider;
  h2 {
    font-size: 36px;
    font-weight: 500;
    margin-top: 70px;
    margin-bottom: 64px;
  }
}

.slider {
  width: 370px;
  /*height: 440px;*/
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.07);
  border-radius: 4px;

  .block-details {
    padding-left: 30px;
    .house-price {
      font-size: 28px;
      font-weight: 500;
      margin-top: 27px;
      margin-bottom: 12px;
    }
    a {
      font-size: 15px;
      font-weight: 400;
    }
    .house-det {
      margin-top: 30px;
      margin-bottom: 23px;
      p {
        font-size: 15px;
        font-weight: 500;
        padding-right: 17px;
      }
    }
  }

  .block-view {
    border-top: 1px solid $col-line;
    color:$col-green;
    font-size: 15px;
    font-weight: 500;
    padding-left: 30px;
    padding-top: 16px;
    padding-bottom: 17px;
    button{
      margin-left: 195px;
      background: transparent;
    }
  }
}

 .search-more {
    margin-top: 45px;
    margin-bottom: 72px;
    width: 134px;
    height: 44px;
    border-radius: 4px;
    border: 2px solid $col-green;
    background: $col-sec-slider;
    font-size: 16px;
    font-weight: 500;
    &:hover {
      opacity: 0.9;
      box-shadow: 0 5px 30px rgba(29,212,81,.4);
      transition: .5s;
  }
}
/* ----------SLIDER-HOUSE END-----------*/

/* ----------TESTIMONIALS START-----------*/
#testimonials {
  background-color: $col-sec-slider;
  h2 {
    font-size: 36px;
    font-weight: 500;
    margin-top: 99px;
    margin-bottom: 34px;
  }
  p {
    width: 811px;
    color: #556268;
    font-family: "Source Serif Pro";
    font-size: 24px;
    font-weight: 400;
    line-height: 40px;
    margin: 42px auto 68px auto;
  }

  .name {
    font-size: 16px;
    font-weight: 500;
  }

  .adress {
    margin-top: 8px;
    margin-bottom: 58px;
    font-size: 14px;
    font-weight: 400;
  }
}

.dots {
  width: 50px;
  position: relative;
  margin: 61px auto 77px auto;

  .dots-green {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid $col-green;
    margin: 0 auto;
    cursor: pointer;
    }
    &:before {
    content: '';
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid $col-green;
    left: 0;
    top: 0;
    }
    &:after {
    content: '';
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid $col-green;
    right: 0;
    top: 0;
  }
}

/* -----REQUEST START------- */

#request {
  background-color: $col-cons;

  p {
    font-size: 28px;
    font-weight: 500;
    line-height: 36px;
    color: $col-white;
    width: 509px;
    margin: 48px auto 0 auto;
  }

  button {
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    width: 270px;
    height: 56px;
    box-shadow: 0 5px 30px rgba(29, 212, 81, 0.4);
    border-radius: 4px;
    background-color: $col-green;
    margin-top: 24px;
    margin-bottom: 58px;
    &:hover {
      background-color: $col-green-act;
      box-shadow: 0 5px 30px rgba(29,212,81,.7);
      transition: .5s;
    }
  }

  @media (max-width: 768px) {
    #request {
      p {
        width: 100%;
      }
    }
  }
}

/* -------REQUEST END------- */

/* -----FOOTER START------- */
footer {
  background-color: $col-sec-slider;
}

.footer-top {

  padding-top: 60px;
  margin-bottom: 60px;
  h5 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 36px;
  }
  ul {
    li {
      margin-bottom: 13px;
      color: #556268;
      font-size: 16px;
      font-weight: 400;
    }
    a:hover {
          color: #83949c;
        }   
  }
  
  span {
    color: $col-green;
    margin-top: 15px;
    &:hover {
      opacity: 0.5;
    }
  }
}

.footer-bottom {
  
  .line {
    border-top: 1px solid $col-line;
    padding-top: 30px;
  }
  ul {
    margin-bottom: 17px;
    li {
      margin-right: 24px;
    }
    a:hover {
      color: #83949c;
    } 
  }

  p {
    margin-bottom: 62px;
    color: $col-reserv;
    font-size: 14px;
    font-weight: 400;
  }
}



.awesome {
  background-color: #b7bcc1;
  margin-left: 9px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  &:hover {
    background-color: #889099;
  }
}



/* -----FOOTER END------- */